:host {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
}

mat-card {
  flex: 0.3;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  mat-card {
    flex: 0.8;
  }
}

mat-card-title {
  padding-bottom: 1em;
}

mat-card-content {
  display: flex;
  justify-content: center;
}
