:host {
  height: 100%;
  padding-top: 1em;
}

.countries {
  display: block;
  width: 80%;
  height: 100%;
  margin: auto;
}

.sidenav-container {
  height: 100%;
}

mat-sidenav {
  min-width: 400px;
  padding: 2em;
}
