<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" position="end" [opened]="sidenavOpened()">
    <app-country-selector-container
      [selectedCountries]="selectedCountries()"
      (selectedCountriesChange)="onSelectedCountriesChange($event)"
    ></app-country-selector-container>
  </mat-sidenav>

  <section class="countries">
    @defer {
    <app-world-map [selectedCountries]="selectedCountries()"></app-world-map>
    } @placeholder (minimum 500ms) {
    <!-- TODO: add progress bar -->
    <p>Placeholder content</p>
    }
  </section>
</mat-sidenav-container>
