<mat-toolbar color="primary">
  <span>My Countries</span>
  <span class="spacer"></span>

  @if (isLoggedIn()) {
  <button mat-icon-button [matMenuTriggerFor]="menu" [title]="userName()">
    <img [src]="photoUrl()" />
  </button>

  <button mat-icon-button (click)="onToggleSidenavClick()">
    <mat-icon>add_location</mat-icon>
  </button>
  <button mat-icon-button (click)="onSignOutClick()">
    <mat-icon>logout</mat-icon>
  </button>
  }
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>{{ userName() }}</button>
  <button mat-menu-item (click)="onSignOutClick()">
    <mat-icon>logout</mat-icon> Sign out
  </button>
</mat-menu>
