<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="over"
    position="end"
    [opened]="sidenavOpened()"
    (openedChange)="onSidenavOpenedChanged($event)"
  >
    <app-country-selector-container
      [selectedCountries]="selectedCountries()"
      (selectedCountriesChange)="onSelectedCountriesChange($event)"
    ></app-country-selector-container>
  </mat-sidenav>

  <section class="countries">
    <app-world-map [selectedCountries]="selectedCountries()"></app-world-map>
  </section>
</mat-sidenav-container>
