:host {
  height: 100%;
}

.map {
  display: block;
  width: 80%;
  height: calc(100% - 1rem);
  margin: auto;
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .map {
    width: 100%;
  }
}

.sidenav-container {
  height: 100%;
}

mat-sidenav {
  min-width: 400px;
  padding: 2em;
}

app-statistics {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
